body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    padding: 25px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    text-align: center;
    backdrop-filter: blur(8px);
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 16px;
}

button {
    padding: 10px 18px;
    background: #40ede8;
    color: rgb(13, 209, 223);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

.weather {
    animation: fadeIn 0.8s;
}

.icon {
    width: 100px;
    margin: 10px auto;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.forecast {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: auto;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}

.card img {
    width: 50px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
